<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<br />
<div class="container">
	<div class="row">
		<div class="ui-widget">
            <label>Procedure: </label>
            <select id="combobox">
                <option></option>
                <option value="Ultrasound Knee Right">Ultrasound Knee Right</option>
                <option value="Ultrasound Knee Left">Ultrasound Knee Left</option>
                <option value="Ultrasound Forearm/Elbow Right">Ultrasound Forearm/  Elbow Right</option>
                <option value="Ultrasound Forearm/Elbow Left">Ultrasound Forearm/Elbow Left</option>
                <option value="MRI Knee Right">MRI Knee Right</option>
                <option value="MRI Knee Left">MRI Knee Left</option>
                <option value="MRI Forearm/Elbow Right">MRI Forearm/Elbow Right</option>
                <option value="MRI Forearm/Elbow Left">MRI Forearm/Elbow Left</option>
                <option value="CT Knee Right">CT Knee Right</option>
                <option value="CT Knee Left">CT Knee Left</option>
                <option value="CT Forearm/Elbow Right">CT Forearm/Elbow Right</option>
                <option value="CT Forearm/Elbow Left">CT Forearm/Elbow Left</option>
          </select>
        </div>
	</div>
</div>