{% extends 'layouts/head.html' %}

{% macro nav_item(text, endpoint, a_classes='') %}
    <li class="nav-item{% if active_page == endpoint %} active{% endif %}"><a class="nav-link {{ a_classes }}"
                                                                              href="{{ url_for(endpoint) }}">{{ text }}</a>
    </li>
{% endmacro %}

{% block body %}
    <noscript>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </noscript>

    <div class="container">

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock body %}
